<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vegeta"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    
    <application android:allowBackup="true" 
                 android:icon="@drawable/ic_launcher" 
                 android:label="@string/app_name"
                 android:theme="@style/Theme.AppCompat.Light">
        
              
        
      <meta-data android:name="com.google.android.gms.version"
                 android:value="@integer/google_play_services_version" />
        
        <activity android:name="com.example.vegeta.FullscreenActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:label="@string/app_name" android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.vegeta.Form"></activity>
        <activity android:name="com.example.vegeta.Imagen"></activity>
        <activity android:name="com.example.vegeta.Result"></activity>
        <activity android:name="com.example.vegeta.Recetas"></activity>
        <activity android:name="com.example.vegeta.Ver"></activity>
        <activity android:name="com.example.vegeta.MisRecetas"></activity>        
        <activity android:name="com.example.vegeta.Ingred"></activity>
        <activity android:name="com.example.vegeta.Result1"></activity>
        <activity android:name="com.example.vegeta.Modificar"></activity>
        <activity android:name="com.example.vegeta.Ingrediente"></activity>
        <activity android:name="com.example.vegeta.FormIngrediente"></activity>
        <activity android:name="com.example.vegeta.Error"></activity>
        <activity android:name="com.example.vegeta.MisIngredientes"></activity>
        <activity android:name="com.example.vegeta.ResultIngrediente1"></activity>
        <activity android:name="com.example.vegeta.ModificarIngrediente"></activity>
        <activity android:name="com.example.vegeta.ResultIngrediente"></activity>
        <activity android:name="com.example.vegeta.BuscarIngredienteActivity"></activity>
        <activity android:name="com.example.vegeta.Resbusqueda"></activity>
        <activity android:name="com.example.vegeta.MainActivity"></activity>
        <activity android:name="com.example.vegeta.ResultRecetaActivity"></activity>
        <activity android:name="com.example.vegeta.FormRecetaActivity"></activity>
        <activity android:name="com.example.vegeta.Inicioconlogin"></activity>
        <activity android:name="com.example.vegeta.LoginSignUpActivity"></activity>
        <activity android:name="com.example.vegeta.BuscarRecetaActivity"></activity>
        <activity android:name="com.example.vegeta.ResultReceta"></activity>
        
         
        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyCP5appFQqRAcnITN7twMSE8dIdxMerwRw"/> 
    </application>

</manifest>
